/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCard.razor.rz.scp.css */
.app-card[b-ummgszoe54] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card .app-card-body.has-card-actions[b-ummgszoe54] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-ummgszoe54] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-ummgszoe54] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-ummgszoe54] {
    font-size: .8125rem
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardAccount.razor.rz.scp.css */
.app-card[b-bg060uyvj4] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card .app-card-header[b-bg060uyvj4] {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-icon-holder[b-bg060uyvj4] {
    display: inline-block;
    background: #edfdf6;
    color: #15a362;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.app-card .app-icon-holder.icon-holder-mono[b-bg060uyvj4] {
    background: #f5f6fe;
    color: #828d9f
}

.app-card .app-icon-holder svg[b-bg060uyvj4] {
    width: 24px;
    height: 24px
}

.app-card-account[b-bg060uyvj4] {
    height: 100%
}

.app-card-account .item[b-bg060uyvj4] {
    font-size: .875rem
}

.app-card-account .item .profile-image[b-bg060uyvj4] {
    width: 60px;
    height: 60px
}

.app-card-account .item .btn-sm[b-bg060uyvj4], .app-card-account .item .btn-group-sm > .btn[b-bg060uyvj4] {
    padding: .125rem .5rem;
    font-size: .75rem
}

.app-card .app-card-body.has-card-actions[b-bg060uyvj4] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-bg060uyvj4] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-bg060uyvj4] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-bg060uyvj4] {
    font-size: .8125rem
}

.app-card-notification .app-card-footer[b-bg060uyvj4] {
    background: #fafbff
}

.app-btn-secondary[b-bg060uyvj4] {
    background: #fff;
    color: #5d6778;
    border: 1px solid #bcc1cb
}

.app-btn-secondary:hover[b-bg060uyvj4] {
    color: #15a362;
    border: 1px solid #15a362;
    background: #fff
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardAlert.razor.rz.scp.css */
.app-card[b-vejxspv8bn] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card .app-card-body.has-card-actions[b-vejxspv8bn] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-vejxspv8bn] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-vejxspv8bn] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-vejxspv8bn] {
    font-size: .8125rem
}

.app-card .btn-close[b-vejxspv8bn] {
    padding: 1rem
}

.app-card .btn-close:focus[b-vejxspv8bn] {
    box-shadow: none
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardBasic.razor.rz.scp.css */
.app-card[b-qz0l6m3qqi] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card-basic[b-qz0l6m3qqi] {
    height: 100%
}

    .app-card-basic .title[b-qz0l6m3qqi] {
        font-size: 1rem
    }

.app-card .app-card-header[b-qz0l6m3qqi] {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-icon-holder[b-qz0l6m3qqi] {
    display: inline-block;
    background: #edfdf6;
    color: #15a362;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.app-card-accordion .app-card-title[b-qz0l6m3qqi] {
    font-size: 1.125rem
}

.app-card .app-card-body.has-card-actions[b-qz0l6m3qqi] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-qz0l6m3qqi] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

    .app-card .app-card-body .app-card-actions:hover[b-qz0l6m3qqi] {
        background: #f5f6fe
    }

    .app-card .app-card-body .app-card-actions .dropdown-menu[b-qz0l6m3qqi] {
        font-size: .8125rem
    }

.app-card-notification .app-card-footer[b-qz0l6m3qqi] {
    background: #fafbff
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardChart.razor.rz.scp.css */
.app-card[b-iq0kieno95] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card .app-card-header[b-iq0kieno95] {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-card-title[b-iq0kieno95] {
    font-size: 1.125rem;
    margin-bottom: 0
}

.app-card .card-header-action[b-iq0kieno95] {
    font-size: .875rem
}

.app-card .card-header-action a:hover[b-iq0kieno95] {
    text-decoration: underline
}

.app-card .app-card-body.has-card-actions[b-iq0kieno95] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-iq0kieno95] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-iq0kieno95] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-iq0kieno95] {
    font-size: .8125rem
}

.chart-container[b-iq0kieno95] {
    position: relative
}

a[b-iq0kieno95] {
    color: #15a362;
    text-decoration: none
}

a:hover[b-iq0kieno95] {
    color: #128c54
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardProgress.razor.rz.scp.css */
.app-card[b-pch6rzzxws] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card-progress-list .item[b-pch6rzzxws] {
    position: relative;
    border-bottom: 1px solid #e7e9ed
}

.app-card-progress-list .item:hover .title[b-pch6rzzxws] {
    color: #252930
}

.app-card-progress-list .item:last-child[b-pch6rzzxws] {
    border: none
}

.app-card-progress-list .item .title[b-pch6rzzxws] {
    font-size: .875rem;
    font-weight: 500
}

.app-card-progress-list .item .meta[b-pch6rzzxws] {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item-link-mask[b-pch6rzzxws] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-progress-list .progress[b-pch6rzzxws] {
    height: .5rem
}

.app-card .app-card-header[b-pch6rzzxws] {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-card-title[b-pch6rzzxws] {
    font-size: 1.125rem;
    margin-bottom: 0
}

.app-card .card-header-action[b-pch6rzzxws] {
    font-size: .875rem
}

.app-card .card-header-action a:hover[b-pch6rzzxws] {
    text-decoration: underline
}

.app-card .app-card-body.has-card-actions[b-pch6rzzxws] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-pch6rzzxws] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-pch6rzzxws] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-pch6rzzxws] {
    font-size: .8125rem
}

.app-card-progress-list .item-link-mask[b-pch6rzzxws] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-progress-list .item[b-pch6rzzxws] {
    position: relative;
    border-bottom: 1px solid #e7e9ed
}

.app-card-progress-list .item:hover .title[b-pch6rzzxws] {
    color: #252930
}

.app-card-progress-list .item:last-child[b-pch6rzzxws] {
    border: none
}

.app-card-progress-list .item .title[b-pch6rzzxws] {
    font-size: .875rem;
    font-weight: 500
}

.app-card-progress-list .item .meta[b-pch6rzzxws] {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item-link-mask[b-pch6rzzxws] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-progress-list .progress[b-pch6rzzxws] {
    height: .5rem
}


.app-card-progress-list .item[b-pch6rzzxws] {
    position: relative;
    border-bottom: 1px solid #e7e9ed
}

.app-card-progress-list .item:hover .title[b-pch6rzzxws] {
    color: #252930
}

.app-card-progress-list .item:last-child[b-pch6rzzxws] {
    border: none
}

.app-card-progress-list .item .title[b-pch6rzzxws] {
    font-size: .875rem;
    font-weight: 500
}

.app-card-progress-list .item .meta[b-pch6rzzxws] {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item-link-mask[b-pch6rzzxws] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-progress-list .progress[b-pch6rzzxws] {
    height: .5rem
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardStat.razor.rz.scp.css */
.app-card[b-43d213bn3h] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card-stat[b-43d213bn3h] {
    text-align: center
}

.app-card-stat .stats-type[b-43d213bn3h] {
    font-size: .875rem;
    color: #828d9f;
    text-transform: uppercase
}

.app-card-stat .stats-figure[b-43d213bn3h] {
    font-size: 2rem;
    color: #252930
}

.app-card-stat .stats-meta[b-43d213bn3h] {
    font-size: .875rem;
    color: #828d9f
}

.app-card .app-card-body.has-card-actions[b-43d213bn3h] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-43d213bn3h] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-43d213bn3h] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-43d213bn3h] {
    font-size: .8125rem
}

.app-card .app-card-link-mask[b-43d213bn3h] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

@media(max-width: 575.98px) {
    .app-card-stat .stats-figure[b-43d213bn3h] {
        font-size: 1.125rem
    }

    .app-card-stat .stats-type[b-43d213bn3h] {
        font-size: .75rem
    }
}
/* _content/BlazorApp.Components/BS5Theme/AppCards/AppCardStatsList.razor.rz.scp.css */
.app-card[b-3ddrttzwmo] {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card-stats-table .table[b-3ddrttzwmo] {
    font-size: .875rem
}

.app-card-stats-table .meta[b-3ddrttzwmo] {
    color: #828d9f;
    font-weight: 500;
    font-size: .875rem
}

.app-card-stats-table .stat-cell[b-3ddrttzwmo] {
    text-align: right
}

.app-card .app-card-header[b-3ddrttzwmo] {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-card-title[b-3ddrttzwmo] {
    font-size: 1.125rem;
    margin-bottom: 0
}

.app-card .card-header-action[b-3ddrttzwmo] {
    font-size: .875rem
}

.app-card .card-header-action a:hover[b-3ddrttzwmo] {
    text-decoration: underline
}

.app-card .app-card-body.has-card-actions[b-3ddrttzwmo] {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions[b-3ddrttzwmo] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover[b-3ddrttzwmo] {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu[b-3ddrttzwmo] {
    font-size: .8125rem
}
